@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #fafbfd;
        --foreground: #212121;
        --main-background: #ffffff;
        --radius: 0.5rem;
        --divider: #e9ecef;
        --error: #dc2626;
        --error-background: #ff9c9c;
        --primary: rgb(7,132,195);
        --secondary: #6c757d;
        --highlight-option: #efefef;
        --success: rgb(0,161,134);
        --success-background: rgba(146, 250, 176, 0.33);
        --warning: #ffbe00;
        --warning-background: rgba(255, 244, 209, 0.78);
        --tooltip-background: #081D35;
        --primary-background: #0784c3;
        --skeleton: #dedede;
        .base-shadow {
            box-shadow: 0 0.5rem 1.2rem rgb(189 197 209 / 40%);
        }
        --card-box-shadow: 0 0.5rem 1.2rem rgb(189 197 209 / 20%);
        --bg-gradient-to: 246,247,248;

        footer {
            background-color: --background;
            a {
                background-color: rgb(233, 236, 239);
                path {
                    fill: var(--foreground);
                }
            }
        }
    }

    .light {
        .poktscan_logo_dark_svg__cls-1 {
          fill: #181e36!important;
        }
        .poktscan_logo_dark_svg__pokt {
            fill: #181e36!important;
        }
    }

    .dark {
        --background: #181818;
        --main-background: #121212;
        --foreground: #ededed;
        --divider: #222;
        --error: #f87171;
        --error-background: #ffaaaa;
        --primary: rgb(106,181,219);
        --secondary: #bbb;
        --highlight-option: #262626;
        --success: rgb(0,161,134);
        --success-background: rgba(48, 255, 110, 0.1);
        --warning: #fdcb3f;
        --warning-background: rgba(183, 142, 13, 0.3);
        --tooltip-background: #333;
        --skeleton: #222;
        .base-shadow {
            box-shadow: 0 0.1rem 1.2rem rgba(82, 85, 92, .15)
        }
        --card-box-shadow: 0 0.5rem 1.2rem rgba(82, 85, 92, .15);
        --bg-gradient-to: 255,255,255;

        .pocket_logo {
            path {
                fill: white!important;
                fill-rule: evenodd!important;
            }
        }

        footer {
            background-color: rgb(21,21,21);
            a {
                background-color: rgb(40, 40, 40);
            }
        }
    }
}

body {
    color: var(--foreground);
    /*background: var(--background);*/
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(var(--background) 0, rgba(var(--bg-gradient-to), 0) 85rem);
}

* {
    font-family: var(--font-roboto);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
}
